<table class="table">
    <main class="container">
        <div class=" p-5 rounded">
            <h1>
                {% if tweet.sell_status %}
                    <span class="badge badge-secondary">Sold</span>
                {% endif %}
                {% if tweet.item_pic %}
                    <span class="badge badge-info">Pictures</span>
                {% endif %}



                {{ tweet.item_name }}
            </h1>

            {% if tweet.author == current_user %}
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark "></strong>
                    <div class='row'>
                        {% if not tweet.sell_status %}
                            <a class="  float-right text-primary  font-weight-normal"
                               href="{{ url_for('post_mark_sold',username=current_user.username, id=tweet.id) }}">
                                Mark
                                as
                                Sold </a>
                            &nbsp;丨 &nbsp;
                        {% endif %}
                        {% if not tweet.sell_status %}

                            <a class="d-flex  float-right text-primary font-weight-normal"
                               href="{{ url_for('post_edit',username=current_user.username, id=tweet.id) }}"> Edit </a>
                            &nbsp; 丨&nbsp;

                        {% endif %}

                        <a class="d-flex  float-right text-primary font-weight-normal"
                           href="{{ url_for('post_delete',username=current_user.username, id=tweet.id) }}"> Delete</a>
                    </div>
                </div>
            {% endif %}
            <p class=" font-weight-light h2">
                <b>${{ tweet.price }}</b></p>
                    <br>

            <p style="white-space: pre-wrap" class="h6 text-muted">{{ tweet.body }}</p>
            {% if tweet.item_pic %}
                <br>
                {#                <img width=auto style="max-width:1000px" src="{{ url_for('static',filename='images/item_pic/' + tweet.item_pic) }}" alt="">#}
                <img width=600
                     src="{{ url_for('static',filename='images/item_pic/' + tweet.item_pic) }}" alt="">

            {% endif %}
        </div>
    </main>
    {#</table>#}
