<table class="table ">
    {% for tweet in tweets %}
        <tr valign="top">
            <td class="col-md-8 align-left">

                <h6 class="fw-semibold mb-0 d-flex justify-content-between clickable">
                    <a href="{{ url_for('post', id=tweet.id) }}">
                        {% if tweet.sell_status %}
                            <span class="badge badge-secondary">Sold</span>
                        {% endif %}
                        {% if tweet.author.is_activated != 1 %}
                            <span class="badge badge-warning">Uncertified</span>
                        {% else %}
                            <span class="badge badge-success">Certified</span>
                        {% endif %}
                        {{ tweet.item_name }}
                    </a>
                    {% if tweet.author == current_user %}
                        <div class='row'>
                            {% if not tweet.sell_status %}
                                <a class="  float-right text-primary  font-weight-normal"
                                   href="{{ url_for('post_mark_sold',username=current_user.username, id=tweet.id) }}">
                                    Mark
                                    as
                                    Sold </a>
                                &nbsp;丨 &nbsp;
                            {% endif %}
                            {% if not tweet.sell_status %}

                                <a class="d-flex  float-right text-primary font-weight-normal"
                                   href="{{ url_for('post_edit',username=current_user.username, id=tweet.id) }}">
                                    Edit </a>
                                &nbsp; 丨&nbsp;

                            {% endif %}

                            <a class="d-flex  float-right text-primary font-weight-normal"
                               href="{{ url_for('post_delete',username=current_user.username, id=tweet.id) }}">
                                Delete</a>
                        </div>
                    {% endif %}
                </h6>


                <p class="text-muted">${{ tweet.price }}<br>
                    {% if tweet.body|length > 200 %}
                        {{ tweet.body[:200] }}...
                        {#              {{ tweet.body[:10] }}#}
                    {% else %}
                        {{ tweet.body }}
                    {% endif %}

                    </div>
                </p>

                </p>
                <div style="float:right">
                    {#                    <img src="{{ tweet.author.avatar(15) }}" alt="">#}

                    <a href="{{ url_for('profile', username=tweet.author.username) }}">{{ tweet.author.username }}</a>


                    {{ tweet.create_time }}
                </div>
                </p>


                </div>

            </td>
        </tr>

    {% endfor %}
</table>
