{% extends "base.html" %}

{% block content %}

    <div class='row'>

        <div class="col-lg-2">
            <h2>Hello, <a href="/{{ current_user.username }}">{{ current_user.username }}</a></h2>
            Chat method coming soon...

        </div>
        <div class="col-lg-4">
        </div>

    </div>
    <div class='row'>
        <div class="col-lg-3"></div>
        <div class="col-lg-9 text-primary">
            {% include '_tweets.html' %}
            {% if prev_url %}
                <a href="{{ prev_url }}">Prev Page </a>
            {% endif %}
        {% if prev_url and next_url %}
            |
        {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next Page</a>
            {% endif %}
        </div>
    </div>
{% endblock %}